/* ImageGallery.css */

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.image-container {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-container img {
  width: 100%;
  height: auto;
}


.music-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 0 auto;
  }
  
  .cover-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
  }


  .cover-image-bot img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding-right: 10px;
  }
  .cover-play-bot img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: auto;
    margin: auto;
  }
  
  .info {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .play-button {
    padding: 10px 20px;
    background-color: #1db954;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .play-button:hover {
    background-color: #1ed760;
  }
  

  /* 底部Plaer */
.music-player-bot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 98%;
  background-color: #f5f5f5;
  padding: 10px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.controls-bot {
  display: flex;
  align-items: center;
}

.controls-bot button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #2cbb5e;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.progress-bar-bot {
  height: 5px;
  background-color: #ccc;
  margin-top: 5px;
  width: 98%;
}

.progress-bot {
  height: 100%;
  background-color: #007bff;
  width: 0%;
}

.width-bot{
  padding-left: 0.5em;
}

.bold-p{
  margin: 0;
}
.unbold-p{
  margin-top: 5px;
}
